.row
  .col-sm-6.col-sm-offset-3.form-section
    %h1 Nueva transferencia
    =form_for :bank_transaction, url: bank_transactions_path do |f|
      .form-group
        = f.collection_select :origin_account, Account.all, :id, :account_number, {prompt: 'Cuenta Origen'}, {class: 'form-control'}
      .form-group
        = f.collection_select :target_account, Account.all, :id, :account_number, {prompt: 'Cuenta Destino'}, {class: 'form-control'}
      .form-group
        = f.text_field :amount, placeholder: 'Valor', class: 'form-control'
      .form-group
      .form-group
        = f.submit 'Registrar Transferencia', class: 'btn btn-custom'

