- if current_admin
  .row
    .col-sm-12
      %h1 Hola Administrador
      %p Estas son las opciones que puedes hacer
    .col-sm-4
      = link_to "Clientes", customers_path
    .col-sm-4
      = link_to "Cuentas", accounts_path
- else
  %h1 Hi this is a great Bank!
