#wrapper-header
  .navbar-custom
    background: $blue
    .navbar-header
      .navbar-toggle 
        .icon-bar
          background: $white
      .logo-header
        color: $white
        padding: 5px 0
        font-size: 2em
    .navbar-collapse
      .navbar-nav
        li
          a
            color: $white
